<%- include('templates/header')-%>

<div class="container">
    <h1>Form Tambah Berita</h1>
    <br>
    <form method="POST" action="/berita/tambah">
        <div class="form-group mb-3">
            <label for="title">Judul</label>
            <input type="text" class="form-control" name ="title" required id="title">
        </div>
        <div class="form-group mb-3">
            <label for="content">Isi Berita</label>
            <textarea class="form-control" name ="content" id="content" rows="8"></textarea>
        </div>
        <div class="form-group mb-3">
            <label for="image">Unggah Gambar</label>
            <br>
            <input type="file" class="form-control-file" name ="image" id="image">
          </div>
        <button type="submit" class="btn btn-primary">Post Berita</button>
    </form>       
</div>

<%- include('templates/footer')-%>